<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('./partials/head') %>
    <%- include('./partials/navbar') %>
    <title></title>
  </head>
  <body style="text-align: center; background-image: url('usaflaggif.gif'); background-repeat: no-repeat; background-size: cover">
    <br>
  <div style="background-color: rgba(255, 255, 255, .5); display: inline-block; border-radius: 10px">
    <h1 style="font-weight: bold">Welcome to the Virtual Town Hall!</h1>
    <p style="font-weight: bold">This site has been developed to provide a space for Voters to connect with their representatives in a new and innovative way.</p>
  </div>
  </body>
</html>
