<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <%- include('../partials/navbar') %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <h1>Proposal Title</h1>
      <p>Proposal Body</p>
      <h5>Reps Name</h5>
      <h5>District</h5>
        <div>
          <p>Yeays</p>
        </div>
        <div>
          <p>Nays</p>
        </div>
      <h5>Posted At:...</h5>

    </div>
  </body>
</html>
