<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include('../partials/head') %>
    <%- include('../partials/usersnav') %>
    <title></title>
  </head>
  <body style="text-align: center">
    <br>
  <h1>Welcome to the Virtual Town Hall!</h1>
  <p>This site has been developed to provide a space for Voters to connect with their representatives in a new and innovative way.</p>
  </body>
</html>
